// frontend/src/styles/_variables.scss

$primary-color: #005E80;
$primary-color-lighter: #008bbd;
$red-color: #bd0000;
$secondary-color: #fafafa;
$text-color: rgb(8,8,8);
$text-secondary-color: #474848;
$light-dark-color: #dddddd; //for line


$font-sans: 'Poppins',Helvetica, sans-serif;
$font-serif: 'Caladea', serif;