@import 'variables';

.admin__body {
  margin-top: 5rem;
}

.dashboard__col {

}

.dashboard__title {
  font-size: 4rem;
  text-align: right;
  /* Adjust size as needed */
  font-weight: bold;
  /* Optional, can adjust the font weight */
  background: linear-gradient(to right, #8C8C8C, #262626);
  /* Linear gradient from light black to black */
  -webkit-background-clip: text;
  /* Clip the background to the text */
  color: transparent; // Make the text color transparent so the gradient shows
}


.card__gender {
  height: 100%;
}

.gender__graph-wrapper {
  height: 40vh;
  padding: 1rem;
}

.num__student {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.age__graph-wrapper {
  height: 15rem;
  width: 100%;
}

.civil__graph-wrapper {
  height: 12rem;
  width: 100%;
}

.citizenship__graph-wrapper {
  height: 12rem;
  width: 100%;
}

// Admin Management

.mgmt__title {
  font-size: 4rem;
  text-align: right;
  font-weight: bold;
  background: linear-gradient(to right, #8C8C8C, #262626);  -webkit-background-clip: text;
  color: transparent;
}

.mgmt__text {
  font-size: .8rem;
  margin-bottom: .5rem;
}

.mgmt__no-padding {
  padding: 0;
}

// Override bootstrap style
.table th {
  font-weight: normal;
  background-color: $primary-color;
  color: $secondary-color;
}

.admin__tbl {
  display: block;
  font-size: .8rem;
  overflow-x: auto;
  border-collapse: collapse;
}

.action__cell {
  position: sticky; 
  right: 0; /* Stick to the right edge */
  z-index: 2; /* Ensure it's above other cells */
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2) !important; /* Add shadow on the left edge */
  white-space: nowrap;
  vertical-align: middle;
}

.action__cell button {
  background: none;
  border: transparent;
  display: inline-block; /* Aligns buttons horizontally */
  cursor: pointer; /* Changes cursor to pointer on hover */
}