@import 'variables';

.stepper {
  display: flex;
  padding: 1rem 0;
}

.stepper__item {
  cursor: pointer;
  padding: 5px 10px;
  transition: background-color 0.3s, color 0.3s;
  font-size: .9rem;
  color: $primary-color-lighter;

  
  /* un-active styles  */
  border-bottom: 1.5px solid $light-dark-color;

  &:hover {

  }

  &.active {
    border: 1px solid rgb(207, 207, 207);
    border-bottom: none;
    color: $text-secondary-color;
  }
} 

.stepper__line {
  flex: 1;
  border-bottom: 1.5px solid $light-dark-color;
}