@import 'variables';

.stepper {
  display: flex;
  padding: 1rem 0;
}

.stepper-item {
  cursor: pointer;
  padding: 5px 10px;
  transition: background-color 0.3s, color 0.3s;
  font-size: .9rem;
  flex-grow: 1;
  color: lighten($primary-color, 10%);
  
  /* un-active styles  */
  border-bottom: 1.5px solid #dddddd;

  &:hover {
    background-color: #eeeeee;
  }

  &.active {
    border: 1px solid rgb(207, 207, 207);
    border-bottom: none;
  }
}