@import 'variables';

.form__banner {
  margin-top: 64px;
  justify-content: center;
  padding: 2rem 0;  
  background-color: rgb(255, 255, 137);
  position: relative;

  @media (max-width: 768px) {
    height: 30vh;
  }

  @media (max-width: 480px) {
    height: 40vh;
  }
}

.form__banner-h1 {
  text-align: center;
  font-family: $font-serif;
  font-size: 3.2rem;
  font-weight: 700;
  z-index: 2;
  position: relative; /* Ensure z-index works */
}

.form__banner-h4 {
  text-align: center;
  z-index: 2;
  position: relative; /* Ensure z-index works */
}

.form__banner-img {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}