@import 'variables';

.form__disclaimer {
  font-style: italic;
  font-size: .8rem;
  margin: 1rem 0 1.5rem 0;
}

.form__sub-label {
  font-size: .65rem;
  font-style: italic;
  margin-bottom: 0;
}

.row {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.children__details {
  padding-left: 0;
  padding-right: 0;
}

.form__line {
  height: 1.5px;
/*  color: #dddddd;*/
}

// form more / less child
.form__btn {
  background: transparent;
  border: transparent;
}

// add child btn
.form__add-btn {
    color: $primary-color;
  &:hover {
    color: #014761;
  }
}

// remove child btn
.form__remove-btn {
  color: $red-color;
  &:hover {
    color: #a6071e;
  }
}

.form__citizenship-radio {
  padding-left: 0;
  padding-right: 0;
}

.form__citizenship-country {
  padding-right: 0;
}

.form__navbtn {
  background-color: $primary-color-lighter;
}