@import 'variables';

.form__disclaimer {
  font-style: italic;
  font-size: .8rem;
  margin: 1rem 0 1.5rem 0;
}

/*.form-label {
  display: block;
  font-size: 1rem;
}*/

.form__sub-label {
  font-size: .65rem;
  font-style: italic;
  margin-bottom: 0;
}

.row {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.children__details {
  padding-left: 0;
  padding-right: 0;
}

.form__line {
  height: 1.5px;
/*  color: #dddddd;*/
}

// add child btn
.form__add-more {
  background: transparent;
  border: transparent;
  color: $primary-color-lighter;

  &:hover {
    color: $primary-color;
  }
}

.form__citizenship-radio {
  padding-left: 0;
  padding-right: 0;
}

.form__citizenship-country {
  padding-right: 0;
}