@import 'variables';

.navbar {
  background-color: $primary-color;
  color: $secondary-color; 
  
  .navbar-brand,
  .nav-link {
    color: rgb(218, 218, 218);

    &:hover {
      color: rgb(255, 255, 255);
    }

    &.active {
      color: rgb(255, 255, 255);
    }

    &.disabled {
      color: rgb(168, 168, 168);
    }
  }
}

/* .navbar-toggler {
  border-color: transparent;
  color: rgb(100, 193, 224);
  background-color: $secondary-color;
} */