@import 'variables';
 
:root {
  /* --header-height: 3rem; */
  --nav-width: 68px;
  //--first-color: #004660;
  --first-color: #004660;
  --first-color-light: #d6d6d6;
  --white-color: #F7F6FB;
  --normal-font-size: 1rem;
  --z-fixed: 100
}

/* from header */
.navbar {
  z-index: 3;
}

.faArrowLeft,
.faArrowRight
 {
  color: rgb(247, 246, 251);
}

/* from admin layout */
.admin__body {
  position: relative;
  /* margin: var(--header-height) 0 0 0; */
  padding: 0 1rem;
  transition: .5s;
}

/* from AdminLayout */
.admin__body {
  padding-left: calc(var(--nav-width) + 1rem);
}

a {
  text-decoration: none
}

/* outer container navbar */
.l-sidebar {
  position: fixed;
  top: 4rem;
  left: -30%;
  width: var(--nav-width);
  height: 100%;
  background-color: var(--first-color);
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: 2;
}

/* inner container navbar */
.sidebar_nav {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}


.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.nav_link {
  color: var(--first-color-light);

  &.active {
    color: var(--white-color)
  }

  &.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
  }
}


.nav_logo {
    display: grid;
    grid-template-columns: max-content auto max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem;
}

.sidebar__toggle {
  // btn container only
  margin-right: 0;
  background: transparent;
  border: transparent;
}

.nav_logo {
  margin-bottom: 2rem;
}

.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color)
}

.nav_logo-name {
  color: var(--white-color);
  font-weight: 700
}

.nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: .3s
}

.nav_link:hover {
  color: var(--white-color)
}

.nav_icon {
  font-size: 1.25rem
}

// this .hidden is when sidebar is minimized, the admin logo and admin text gets hidden
.hidden {
  display: none;
}


@media screen and (min-width: 768px) {
  /* from AdminLayout */
/*   .admin__body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    
    padding-left: calc(var(--nav-width) + 2rem)
  } */

  .l-sidebar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }

  .show {
    width: calc(var(--nav-width) + 156px);
  }
  /* From AdminLayoutm sidebar on */
  .admin__body-min {
    padding-left: calc(var(--nav-width) + 188px);
  }
}

@media screen and (max-width: 767px) {
  .l-sidebar {
      left: 0;
      padding: 1rem 1rem 0 0;
    }
  
  .show {
    width: calc(var(--nav-width) + 156px);
  }
  
  /* From AdminLayoutm sidebar on */
  .admin__body-min {
    padding-left: calc(var(--nav-width) + 188px);
  }

  // this .hidden is when sidebar is minimized, the admin logo and admin logo and text 
  .hidden {
    display: inline-block;
  }
}